<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hoteles Soleil Llamadas</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Responsive Animated Border Menus with CSS Transitions" />
    <meta name="keywords" content="navigation, menu, responsive, border, overlay, css transition" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/css/icons.css" />
    <link rel="stylesheet" type="text/css" href="/css/style5.css" />
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/estilos_pasos.css" rel="stylesheet" type="text/css">
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script>


        (function worker() {
            jQuery.ajax({
                type: 'post',
                dataType: 'text',
                url: "http://dev.mails.aladomediastudio.com/admin/index/activos",
                data: {
                },
                success: function(data, textStatus){
                    var obj = $.parseJSON(data);
                    var pendientes=0;
/*
                    $("input[type=checkbox]:checked").each(function(){
                        //cada elemento seleccionado
                        alert($(this).val('se chequeo'));
                    });
*/
                    $.each(obj, function() {
                        pendientes = pendientes+1;
                        var element= this['Element']
                        var id= this['Ticket']
                        if ( $("#T"+id).length) {

                        }
                        else{
                            $( "#lista-pendientes" ).prepend(element);
                        }
                    }

                    );
                    $( "#pendiente-top" ).text( pendientes );
                    $( "#pendiente-left" ).text( pendientes );
                },
                complete: function() {
                    // Schedule the next request when the current one's complete
                    setTimeout(worker, 2500);

                }
            });
        })();
    </script>

    <script>
        function actualizar(){

            jQuery.ajax({
                type: 'post',
                dataType: 'text',
                url: "http://dev.mails.aladomediastudio.com/admin/index/activos",
                data: {
                },
                success: function(data, textStatus){
                    var obj = $.parseJSON(data);
                    var pendientes=0;
                    /*
                     $("input[type=checkbox]:checked").each(function(){
                     //cada elemento seleccionado
                     alert($(this).val('se chequeo'));
                     });
                     */
                    $.each(obj, function() {
                            pendientes = pendientes+1;
                            var element= this['Element']
                            var id= this['Ticket']
                            if ( $("#T"+id).length) {

                            }
                            else{
                                $( "#lista-pendientes" ).prepend(element);
                            }
                        }

                    );
                    $( "#pendiente-top" ).text( pendientes );
                    $( "#pendiente-left" ).text( pendientes );
                },
                complete: function() {


                }
            });
        }


        function actualizar2(){

            jQuery.ajax({
                type: 'post',
                dataType: 'text',
                url: "http://dev.mails.aladomediastudio.com/admin/index/inactivos",
                data: {
                },
                success: function(data, textStatus){
                    var obj = $.parseJSON(data);


                    $.each(obj, function() {

                            var id= this['Ticket']
                            if ( $("#T"+id).length) {
                                $( "#T"+id ).remove();

                            }
                            else{

                            }
                        }

                    );

                },
                complete: function() {
                }
            });
        }


        function a_onClick() {
            $("input[type=checkbox]:checked").each(function(){

                $.get( "http://dev.mails.aladomediastudio.com/admin/index/borrar-pendiente/ticket/"+$(this).attr('name'), function( data ) {
                    $( "#T"+$(this).attr('name') ).remove();
                    $( "#pendiente-top" ).text( $( "#pendiente-top" ).text()-1 );
                    $( "#pendiente-left" ).text(  $( "#pendiente-left" ).text()-1 );
                });
            });
            jQuery.ajax({
                type: 'post',
                dataType: 'text',
                url: "http://dev.mails.aladomediastudio.com/admin/index/activos",
                data: {
                },
                success: function(data, textStatus){
                    var obj = $.parseJSON(data);
                    var pendientes=0;
                    $.each(obj, function() {
                            pendientes = pendientes+1;
                            var element= this['Element']
                            var id= this['Ticket']
                            if ( $("#T"+id).length) {

                            }
                            else{
                                $( "#lista-pendientes" ).prepend(element);
                            }
                        }

                    );
                    $( "#pendiente-top" ).text( pendientes );
                    $( "#pendiente-left" ).text( pendientes );
                },
                complete: function() {
                    actualizar2();

                }
            });

        }
    </script>

    <script>



        (function worker2() {
            jQuery.ajax({
                type: 'post',
                dataType: 'text',
                url: "http://dev.mails.aladomediastudio.com/admin/index/inactivos",
                data: {
                },
                success: function(data, textStatus){
                    var obj = $.parseJSON(data);


                    $.each(obj, function() {

                            var id= this['Ticket']
                            if ( $("#T"+id).length) {
                                $( "#T"+id ).remove();

                            }
                            else{

                            }
                        }

                    );

                },
                complete: function() {
                    // Schedule the next request when the current one's complete
                    setTimeout(worker2, 2500);

                }
            });
        })();
    </script>
    <script>
        $("input[type=checkbox]:checked").each(function(){
            //cada elemento seleccionado
            alert($(this).val('se chequeo'));
        });
    </script>

</head>

<body>
<div class="container">

    <nav id="bt-menu" class="bt-menu">
        <a href="#" class="bt-menu-trigger"><img src="/images/logoin3.png"/></a>
        <ul>
            <li><a href="dashboard">Dashboard</a></li>
            <li><a href="pasos">Llamadas</a></li>
            <li><a href="cotizaciones">Cotizaciones</a></li>
            <li><a href="logout">Salir</a></li>
        </ul>
        <ul>
            <li><a href="https://twitter.com/hotelessoleil" target="_blank" class="bt-icon icon-twitter">Twitter</a></li>
            <li><a href="https://plus.google.com/101932165854664031497/posts" target="_blank" class="bt-icon icon-gplus">Google+</a></li>
            <li><a href="https://www.facebook.com/hotelessoleilguatemala?fref=ts" target="_blank" class="bt-icon icon-facebook">Facebook</a></li>

        </ul>
    </nav>
</div><!-- /container -->

<div class="navbar navbar-inverse " role="navigation">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse" style="margin-left: 50px;">

        <ul class="nav navbar-nav navbar-left">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">En Proceso <span class="badge">10</span></a></li>
            <li><a href="#">Mensajes <span class="badge">2</span></a></li>
            <li><a href="#">Llamadas pendientes <span class="badge" id="pendiente-top"></span></a></li>
        </ul>

        <div class="col-sm-3 col-md-3 pull-right">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" style="margin-top: 10px;"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<!-- multistep form -->
<div class="container">
    <div class="containertickets">
        <div class="row">
            <div class="col-sm-3 col-md-2">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="color: #ffffff;background-color:#f2d000; border-color: #f2d000;">
                        Crear Ticket <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="crear-ticket">Llamada</a></li>
                        <li><a href="#">Cotizacion</a></li>
                        <li><a href="#">Contrato</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-9 col-md-10">
                <!-- Split button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default">
                        <div class="checkbox" style="margin-top: -10px;">
                            <label>
                                <input type="checkbox">
                            </label>
                        </div>
                    </button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ><a href="#" onClick="a_onClick()">Borrar</a></li>
                        <li><a href="#">None</a></li>
                        <li><a href="#">Read</a></li>
                        <li><a href="#">Unread</a></li>
                        <li><a href="#">Starred</a></li>
                        <li><a href="#">Unstarred</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="Refresh" id="borrar">
                       <span class="glyphicon glyphicon-refresh"></span>   </button>
                <!-- Single button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        More <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Mark all as read</a></li>
                        <li class="divider"></li>
                        <li class="text-center"><small class="text-muted">Select messages to see more actions</small></li>
                    </ul>
                </div>
                <div class="pull-right">
                    <span class="text-muted"><b>1</b>–<b>50</b> of <b>277</b></span>
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-3 col-md-2">

                <hr />
                <ul class="nav nav-pills nav-stacked" >
                    <li class="active"><a href="#" style="color: #ffffff;background-color:#f2d000; border-color: #f2d000;"><span class="badge pull-right" style="color: #f2d000;" id="pendiente-left"></span> Llamadas </a>
                    </li>
                    <li ><a href="#">Pendientes</a></li>
                    <li><a href="#">Importantes</a></li>
                    <li><a href="#">Tickets Abiertos</a></li>
                    <li><a href="#"><span class="badge pull-right">3</span>Borradores</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-md-10">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" >
                    <li class="active"><a href="#home" data-toggle="tab"><span class="glyphicon glyphicon-inbox" >
                </span>Tickets </a></li>
                    <li><a href="#profile" data-toggle="tab"><span class="glyphicon glyphicon-user"></span>
                            Abiertos</a></li>
                    <li><a href="#messages" data-toggle="tab"><span class="glyphicon glyphicon-tags"></span>
                            Cerrados </a></li>
                    <li><a href="#settings" data-toggle="tab"><span class="glyphicon glyphicon-plus no-margin">
                </span></a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="home">
                        <div class="list-group" id="lista-pendientes">


                        </div>
                    </div>
                    <div class="tab-pane fade in" id="profile">
                        <div class="list-group">
                            <div class="list-group-item">
                                <span class="text-center">This tab is empty.</span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="messages">
                        ...</div>
                    <div class="tab-pane fade in" id="settings">
                        This tab is empty.</div>
                </div>
            </div>

            <div class="navbar navbar-inverse navbar-fixed-bottom" style="z-index: 2;">
                <div class="container">
                    <p class="navbar-text pull-left">© 2014 - Hoteles Soleil Guatemala</p>


                </div>


            </div>
</body>
<script src="/js/classie.js"></script>
<script src="/js/borderMenu.js"></script>
<script src="/js/jquery-1.9.1.min.js" type="text/javascript"></script>

<!-- jQuery easing plugin -->
<script src="/js/jquery.easing.min.js" type="text/javascript"></script>
<script src="/js/query.js" type="text/javascript"></script>
</html>
