<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoteles Soleil Llamadas</title>
    <meta name="description" content="Responsive Animated Border Menus with CSS Transitions" />
    <meta name="keywords" content="navigation, menu, responsive, border, overlay, css transition" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/css/icons.css" />
    <link rel="stylesheet" type="text/css" href="/css/style5.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="/js/modernizr.custom.js"></script>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/estilos_pasos.css" rel="stylesheet" type="text/css">
    <script type="text/javascript">
        $(function() {
            $( "#datepicker" ).datepicker();
        });
    </script>
</head>
<body>
<div class="container">

    <nav id="bt-menu" class="bt-menu">
        <a href="#" class="bt-menu-trigger"><img src="/images/logoin3.png"/></a>
        <ul>
            <li><a href="dashboard">Dashboard</a></li>
            <li><a href="pasos">Llamadas</a></li>
            <li><a href="cotizaciones">Cotizaciones</a></li>
            <li><a href="../../login/index/index">Salir</a></li>
        </ul>
        <ul>
            <li><a href="https://twitter.com/hotelessoleil" target="_blank" class="bt-icon icon-twitter">Twitter</a></li>
            <li><a href="https://plus.google.com/101932165854664031497/posts" target="_blank" class="bt-icon icon-gplus">Google+</a></li>
            <li><a href="https://www.facebook.com/hotelessoleilguatemala?fref=ts" target="_blank" class="bt-icon icon-facebook">Facebook</a></li>

        </ul>
    </nav>
</div><!-- /container -->

<div class="navbar navbar-inverse " role="navigation">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse" style="margin-left: 50px;">

        <ul class="nav navbar-nav navbar-left">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">En Proceso <span class="badge">10</span></a></li>
            <li><a href="#">Mensajes <span class="badge">2</span></a></li>
            <li><a href="#">Llamadas pendientes <span class="badge">42</span></a></li>
        </ul>

        <div class="col-sm-3 col-md-3 pull-right">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" style="margin-top: 10px;"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<!-- multistep form -->
<form id="msform" action="../../../../guardar-formulario" method="post">
    <!-- progressbar -->
    <ul id="progressbar">
        <li class="active">Control de llamada</li>
        <li>Cotizaciones</li>
        <li>Finalizar</li>
    </ul>
    <!-- fieldsets -->
    <fieldset>
        <h2 class="fs-title">Control de llamadas</h2>
        <h3 class="fs-subtitle">Ingreso de información inicial</h3>
        <div class="col-sm-6 col-md-4">
            <input type="text" name="Llamada" placeholder="Llamada" value ="<?php echo $this->Llamada; ?>"/>
            <input type="text" name="email" placeholder="Email" />
            <input type="text" name="checkin" id="datepicker" placeholder="Check In" />
            <select  name="promocion"  class="form-control" id="select2">
                <option selected="true" value="Promocion para aplicar">Promocion</option>
                <option value="60% de descuento">60% de descuento</option>
                <option value="Promocion mundialista">Prmoción mundialista</option>
            </select>
            <input type="text" name="adultos" placeholder="No. Adultos"/>
            <input type="text" name="presupuesto" placeholder="Presupuesto" />
        </div>
        <div class="col-sm-6 col-md-4">
            <input type="text" name="fecha" placeholder="Fecha" value="<?php echo date("Y-m-d"); ?>"  />
            <input type="text" name="nombres" placeholder="Nombres" />
            <input type="text" name="checkout" id="datepicker2" placeholder="Check Out" />
            <select name="hotel" class="form-control" id="select">
                <option selected="true">Seleccione un hotel</option>
                <option value="Hotel Soleil Pacífico">Hotel Soleil Pacífico</option>
                <option value="Hotel Soleil Antigua">Hotel Soleil Antigua</option>
                <option value="Thai Spa Antigua">Thai Spa Antigua</option>
            </select>
            <input type="text" name="ninos" placeholder="No. Niños" />
            <input type="text" name="segmento" placeholder="Segmento" />



        </div>
        <div class="col-sm-6 col-md-4">
            <input type="text" name="agente" placeholder="Agente" />
            <input type="text" name="apellidos" placeholder="Apellidos" />
            <input type="text" name="reservacion2" placeholder="Reservación 2" />
            <select name="medio" class="form-control" id="select4">
                <option selected="true" > Medio por el cual nos contacto</option>
                <option value="Facebook">Facebook</option>
                <option value="Página web">Página Web</option>
                <option value="Email">Email</option>
                <option value="Hotel">Hotel</option>
                <option value="Muppie">Muppie</option>
                <option value="Prensa">Prensa</option>
                <option value="Revista">Revista</option>
            </select>
            <input type="text" name="informacion" placeholder="Desea recibir información" />
            <textarea name="comentarios" placeholder="Comentarios del agente" style = "padding-top: 10px;"></textarea>
            <input type="hidden" name="Ticket" value= "<?php echo $this->Ticket; ?>" />
        </div>
        <br>


        <div class="span12">...</div>
        <input type="button" name="siguiente" class="next action-button" value="Siguiente" />
        <input type="submit" name="llamada" class="submit action-button" value="Enviar" />
    </fieldset>
    <fieldset>
        <h2 class="fs-title">Cotización</h2>
        <h3 class="fs-subtitle">Ingreso de información inicial</h3>

        <div class="col-sm-6 col-md-4">
            <input type="text" name="cotizacion" placeholder="Cotización" />
            <input type="text" name="tarifa" placeholder="Tarifa" />
            <input type="text" name="comida" placeholder="Comida" />
            <input type="text" name="lugar" placeholder="Lugar" />
            <select name="select2"  class="form-control" id="select8">
                <option value="Promocion para aplicar">Promocion</option>
                <option value="60% de descuento">60% de descuento</option>
                <option value="Promocion mundialista">Prmoción mundialista</option>
            </select>





        </div>
        <div class="col-sm-6 col-md-4">
            <input type="text" name="fecha" placeholder="Fecha" />
            <input type="text" name="habitacion" placeholder="Habitación" />
            <input type="text" name="decoración" placeholder="Decoración" />
            <input type="text" name="monto" placeholder="Monto" />
            <select name="select" class="form-control" id="select9">
                <option value="Hotel Soleil Pacífico">Hotel Soleil Pacífico</option>
                <option value="Hotel Soleil Antigua">Hotel Soleil Antigua</option>
                <option value="Thai Spa Antigua">Thai Spa Antigua</option>
            </select>





        </div>
        <div class="col-sm-5 col-md-4">
            <input type="text" name="evento" placeholder="Evento" />
            <input type="text" name="bebidas" placeholder="Bebidas" />
            <input type="text" name="paquete" placeholder="Paquete" />
            <input type="text" name="total" placeholder="Total" />
            <select name="select4" class="form-control" id="select7">
                <option>Medio por el cual nos contacto</option>
                <option value="Facebook">Facebook</option>
                <option value="Página web">Página Web</option>
                <option value="Email">Email</option>
                <option value="Hotel">Hotel</option>
                <option value="Muppie">Muppie</option>
                <option value="Prensa">Prensa</option>
                <option value="Revista">Revista</option>
            </select>






        </div>
        <div class="span12">...</div>
        <input type="button" name="anterior" class="previous action-button" value="Anterior" />
        <input type="button" name="siguiente" class="next action-button" value="Siguiente" />
    </fieldset>
    <fieldset>
        <h2 class="fs-title">Envio de información</h2>
        <h3 class="fs-subtitle">Finalizar</h3>
        <input type="text" name="nombres" placeholder="Nombres" />
        <input type="text" name="email" placeholder="Email" />
        <input type="text" name="encargado" placeholder="Encargado" />
        <div style="height:20px;float:left;width:100%;"></div>
        <input type="button" name="anterior" class="previous action-button" value="Anterior" />
        <input type="submit" name="submit" class="submit action-button" value="Enviar" />
    </fieldset>
</form>
<div class="navbar navbar-inverse navbar-fixed-bottom" style="z-index: 2;">
    <div class="container">
        <p class="navbar-text pull-left">© 2014 - Hoteles Soleil Guatemala</p>

        <a href="crear-ticket" class="navbar-btn btn-danger btn pull-right">
            <span class="glyphicon glyphicon-star"></span>  Crea nuevo ticket</a>
    </div>


</div>

</body>
<script src="/js/classie.js"></script>
<script src="/js/borderMenu.js"></script>
<script src="/js/jquery-1.9.1.min.js" type="text/javascript"></script>

<!-- jQuery easing plugin -->
<script src="/js/jquery.easing.min.js" type="text/javascript"></script>
<script src="/js/query.js" type="text/javascript"></script>
</html>
