@charset "UTF-8";
/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
	/*Image only BG fallback*/
	background-color: #edeed8;
	/*background = gradient + image pattern combo*/

}

body {
	font-family: montserrat, arial, verdana;
	background-color: #edeed8;
}
/*form styles*/
#msform {
	width: 100%;
	text-align: center;
	position: absolute;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
}
#msform fieldset {
	background: transparent;
	border: 0 none;
	border-radius: 3px;	
	padding: 10px 30px;
	box-sizing: border-box;
	width: 80%;
	height:550px;
	margin: 0 10%;
	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	width: 100%;
	height: 40px;
	positon: relative;
	margin-top: 7px;
	font-size: 12px;
	color: #444;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .2);
	padding-left: 15px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

#msform input:focus {
border: 1px solid #FFCC00;
	-webkit-box-shadow: 0px 0px 2px #F2D030;
	box-shadow: 0px 0px 2px #F2D030;
	
	}
	
/*buttons*/
#msform .action-button {
	width: 100px;
	background:  #f2d000;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: -10px 10px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px  #f2d000;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 10px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: black;
	text-transform: uppercase;
	font-size: 9px;
	width: 33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
.txtselector {
	display: block;
	font-family: "Helvetica Neue", Arial, sans-serif;
	border-style: solid;
	border-width: 1px;
	border-color: #dedede;
	margin-bottom: 10px;
	padding: 11px 25px;
	padding-left: 55px;
	width: 32%;
	color: #777;
	margin-left:10px;
	height: 35px;
	float:left;
}

/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background:  #f2d000;
	color: white;
}
header{
	height: 100px;
	max-width: 980px;
	text-align: center;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	}


header img{
	margin:0px 0 0;
	}

footer{
	height:100px;
	margin: auto auto;
	max-width: 980px;
	text-align: center;
	font-size:12px;
	color:#FFF;
	}
	
.paso1 {
	width:100%;
	height:280px;
	background-size:auto;
	background-position:center;
	}
.paso2 {
	width:100%;
	height:280px;
	}
