/*
CSS RESET
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License:  none (public domain)
 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 10%;
	font: inherit;
	vertical-align: baseline;
	color: #FFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

html{
	/* Ensure the html element always takes up the full height of the browser window */
	min-height: 100%;
	/* The Magic */
	background-size: cover;
	background-image: url(../images/bg.JPG);
	background-position: center center;
	background-repeat: no-repeat;
}

body {
	background:transparent;
	min-height:100%;
    font-family: 'Open Sans', sans-serif;
	line-height: 1;
}

.block-unit {
	margin-bottom: 30px;
	padding: 10px;
	border: 1px solid whitesmoke;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 300px;
	background-color: rgba(255, 255, 255, 0.6);
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Animations */
@keyframes "login" {
 0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   	filter: alpha(opacity=0);
   	opacity: 0;
   	margin-top: -100px;
 }
 100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   	filter: alpha(opacity=100);
   	opacity: 1;
   	margin-top: -195px;
 }

}

@-moz-keyframes login {
 0% {
   filter: alpha(opacity=0);
   opacity: 0;
   margin-top: -100px;
 }
 100% {
   filter: alpha(opacity=100);
   opacity: 1;
   margin-top: -195px;
 }

}

@-webkit-keyframes "login" {
 0% {
   filter: alpha(opacity=0);
   opacity: 0;
   margin-top: -100px;
 }
 100% {
   filter: alpha(opacity=100);
   opacity: 1;
   margin-top: -195px;
 }

}

@-ms-keyframes "login" {
 0% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   margin-top: -100px;
 }
 100% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   margin-top: -195px;
 }

}

@-o-keyframes "login" {
 0% {
   filter: alpha(opacity=0);
   opacity: 0;
   margin-top: -100px;
 }
 100% {
   filter: alpha(opacity=100);
   opacity: 1;
   margin-top: -195px;
 }

}

/* Main CSS */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


#slick-login {
	width: 220px;
	height: 155px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -110px;
	margin-top: -195px;
	-webkit-animation: login 1s ease-in-out;
	-moz-animation: login 1s ease-in-out;
	-ms-animation: login 1s ease-in-out;
	-o-animation: login 1s ease-in-out;
	animation: login 1s ease-in-out;
	text-align: center;
}

#slick-login label {
	display: none;
}

.placeholder {
    color: #444;
}

#slick-login input[type="text"],#slick-login input[type="password"] {
	width: 100%;
	height: 40px;
	positon: relative;
	margin-top: 7px;
	font-size: 12px;
	color: #444;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .2);
	padding-left: 15px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

#slick-login input[type="text"]:focus,#slick-login input[type="password"]:focus {
	border: 1px solid #FFCC00;
	-webkit-box-shadow: 0px 0px 2px #F2D030;
	box-shadow: 0px 0px 2px #F2D030;
}

#slick-login input:first-child {
	margin-top: 0px;
}

#slick-login input[type="submit"] {
	width: 100%;
	height: 50px;
	margin-top: 7px;
	color: #333;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px -1px 0px whitesmoke;
	outline: none;
	border: 1px solid rgba(255, 255, 255, .49);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;
	background-color: #f2d000;
	background-image: -webkit-gradient(linear, 50.00% 100.00%, 50.00% 0.00%, color-stop( 0% , rgba(242,208,0,1.00)),color-stop( 100% , rgba(255,251,191,1.00)));
	background-image: -webkit-linear-gradient(90deg,rgba(242,208,0,1.00) 0%,rgba(255,251,191,1.00) 100%);
	background-image: -moz-linear-gradient(bottom, #f2d000 0%, #768ee4 100%);
	background-image: -o-linear-gradient(bottom, #f2d000 0%, #768ee4 100%);
	background-image: -ms-linear-gradient(bottom, #f2d000 0%, #768ee4 100%);
	background-image: linear-gradient(0deg,rgba(242,208,0,1.00) 0%,rgba(255,251,191,1.00) 100%);
	-webkit-box-shadow: inset 0px 1px 0px #FFFFFF;
	box-shadow: inset 0px 1px 0px #FFFFFF;
	cursor: pointer;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

#slick-login input[type="submit"]:hover {
	background-color: #f2d000;
	background-image: -webkit-gradient(linear, 50.00% 100.00%, 50.00% 0.00%, color-stop( 0.20% , rgba(255,245,187,1.00)),color-stop( 100% , rgba(242,208,0,1.00)));
	background-image: -webkit-linear-gradient(90deg,rgba(255,245,187,1.00) 0.20%,rgba(242,208,0,1.00) 100%);
	background-image: -moz-linear-gradient(bottom, #f2d000 0%, #859bef 100%);
	background-image: -o-linear-gradient(bottom, #f2d000 0%, #859bef 100%);
	background-image: -ms-linear-gradient(bottom, #f2d000 0%, #859bef 100%);
	background-image: linear-gradient(0deg,rgba(255,245,187,1.00) 0.20%,rgba(242,208,0,1.00) 100%);
	-webkit-box-shadow: inset 0px 1px 0px #FFCC00;
	box-shadow: inset 0px 1px 0px #FFCC00;
}

#slick-login input[type="submit"]:active {
	background-color: #FF9900;
	background-image: -webkit-gradient(linear, 50.00% 100.00%, 50.00% 0.00%, color-stop( 0% , rgba(249,219,81,1.00)),color-stop( 100% , rgba(252,244,169,1.00)));
	background-image: -webkit-linear-gradient(90deg,rgba(249,219,81,1.00) 0%,rgba(252,244,169,1.00) 100%);
	background-image: -moz-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
	background-image: -o-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
	background-image: -ms-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
	background-image: linear-gradient(0deg,rgba(249,219,81,1.00) 0%,rgba(252,244,169,1.00) 100%);
	-webkit-box-shadow: inset 0px 1px 0px #FFCC00;
	box-shadow: inset 0px 1px 0px #FFCC00;
}
#slick-login img {
	padding-left: auto;
	padding-right: auto;
}

@media  (min-width: 601px) {        
body {
	background-color: #edecd8;
}
html{
	/* This image will be displayed fullscreen */
	background-image: url(../images/bg.JPG); no-repeat center center;
	/* Ensure the html element always takes up the full height of the browser window */
	min-height:100%;

	/* The Magic */
	background-size:cover;
}
  } 
@media  (max-width: 600px) {        
body {
	background:transparent;
	min-height:100%;
    font-family: 'Open Sans', sans-serif;
	line-height: 1;
}

html{
	/* This image will be displayed fullscreen */
	background-image: url(../images/bg.JPG); no-repeat center center;
	/* Ensure the html element always takes up the full height of the browser window */
	min-height:100%;

	/* The Magic */
	background-size:cover;
}
  } 
  
#slick-login p {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: small;
}
