<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Hoteles Soleil Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/jquery_validate.js" type="text/javascript"></script>
    <script src="/js/additional-methods.js" type="text/javascript"></script>
    <script src="http://www.modernizr.com/downloads/modernizr-latest.js"></script>
    <script>

        $(function(){
            $('#slick-login').validate({

                rules: {
                    'username': 'required',
                    'password': 'required'
                },
                messages: {
                },

                /*errorElement: 'div',*/
                //errorContainer: $('#errores'),
                submitHandler: function(form){
                    form.submit();
                }
            });
        });
    </script>
    <script type="text/javascript" src="/js/placeholder.js"></script>
    <script type="text/javascript">
        function MM_goToURL() { //v3.0
            var i, args=MM_goToURL.arguments; document.MM_returnValue = false;
            for (i=0; i<(args.length-1); i+=2) eval(args[i]+".location='"+args[i+1]+"'");
        }
        function MM_validateForm() { //v4.0
            if (document.getElementById){
                var i,p,q,nm,test,num,min,max,errors='',args=MM_validateForm.arguments;
                for (i=0; i<(args.length-2); i+=3) { test=args[i+2]; val=document.getElementById(args[i]);
                    if (val) { nm=val.name; if ((val=val.value)!="") {
                        if (test.indexOf('isEmail')!=-1) { p=val.indexOf('@');
                            if (p<1 || p==(val.length-1)) errors+='- '+nm+' must contain an e-mail address.\n';
                        } else if (test!='R') { num = parseFloat(val);
                            if (isNaN(val)) errors+='- '+nm+' must contain a number.\n';
                            if (test.indexOf('inRange') != -1) { p=test.indexOf(':');
                                min=test.substring(8,p); max=test.substring(p+1);
                                if (num<min || max<num) errors+='- '+nm+' must contain a number between '+min+' and '+max+'.\n';
                            } } } else if (test.charAt(0) == 'R') errors += '- '+nm+' is required.\n'; }
                } if (errors) alert('The following error(s) occurred:\n'+errors);
                document.MM_returnValue = (errors == '');
            } }

        function MM_preloadImages() { //v3.0
            var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
                var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
                    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
        }
    </script>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<form name="slick-login" id="slick-login" method="post" action="login">
    <div class="block-unit" style="text-align:center; padding:8px 8px 8px 8px;">
        <img src="/images/logo.png" width="180" height="165"  alt=""/>
        <fieldset>
            <p>
                <input id="username" name="username" type="text" placeholder="Usuario">
                <input id="password" name="password" type="password" placeholder="Contraseña">

            </p>
            <?php echo '<p style="color:red;">'. $this->message . '</p>'; ?>
            <input class="submit btn-warning btn btn-large" type="submit" value="Ingresar">
        </fieldset>
        <p style="color: #333"><br>
            Hoteles Soleil Call Center 2014</p><br>
        <div></div></div>
</form>

</body>
</html>